{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if gigs | length > 0 %}
            <h3>All Gigs</h3>
        {% endif %}
    <div style="display: flex; flex-wrap: wrap;">
      {% for gig in gigs %}
        <div style = "background-color: #ebf2fa;width: 300px; padding: 30px; margin: 10px " >
        <div class="row">
          <div class="">
              <div style="width: 50%">
                  <h2>{{ gig.title }}</h2>
              </div>
            <div><span>{{ gig.description }}</span></div>
            <div><span>{{ gig.price }} </span></div>
            <div><span>{{ gig.state }} </span></div>
            <div><span><a class="btn btn-default" href="{{ url( 'app_gigs_show', { 'id': gig.id } ) }}" role="button">View details</a></span></div>
          </div>
        </div>
        </div>
        {% else %}
        <h3>No gigs found</h3>
      {% endfor %}
    </div>
    </div>
{% endblock %}
