{% extends 'base.html.twig' %}

{% block title %}Create !{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class = "container">
        
    <h1>Create !</h1>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
            {{ form_start(form, {attr: {class: "card-body cardbody-color p-lg-5"}}) }}
<div class="mb-3"> {{ form_row (form.title, {label : false, attr: {class: "form-control", placeholder: "Title"}}) }} </div>
<div class="mb-3"> {{ form_row (form.description, {label : false, attr: {class: "form-control", placeholder: "Description"}}) }} </div>
<div class="mb-3"> {{ form_row (form.price, {label : false, attr: {class: "form-control", placeholder: "Price"}}) }} </div>
<div class="mb-3"> {{ form_row (form.dueDate) }} </div>
        <input type="submit" style="margin-top: 16px;" class="btn btn-color px-5 mb-5 w-100" value="Create" />
    {{ form_end(form) }}

      </div>
    </div>
  </div>

    </div>
{% endblock %}

