{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        
    <h1>{{gig.title}}</h1>
    <div><span>creator : {{ gig.creator.fullname }} </span></div>
    <div><span>description: {{ gig.description }}</span></div>
    <div><span>price: {{ gig.price }}</span></div>
    <div><span>created_at: {{ gig.posteDate | date('Y-M-D') }}</span></div>
    <div><span>due date: {{ gig.dueDate | date('Y-M-D') }}</span></div>
    {% if gig.state == 'open' %}
        <div><span>status: open</span></div>
    {% endif %}
    {% if gig.state == 'accepted' %}
        <div><span>status: Accepted</span></div>
    {% endif %}
    {% if gig.state == 'done' %}
        <div><span>status: completed</span></div>
    {% endif %}

    {% if app.user.getRoles()[0] == "ROLE_CLIENT" %}
    <h4>Freelancers: </h4>
    {% for freelancer in gig.freelancers  %}
        <div style="display: flex">
            <span style="margin-right: 20px">{{ freelancer}} </span>
            {% if gig.state != 'accepted' %}
                <a href="{{ url( 'app_gigs_accept', {'id': gig.id, 'freelancer': freelancer} ) }}">Accept</a>
            {% endif %}
        </div>
        {% else %}
            <h3>No freelancers found</h3>
    {% endfor %}
    {% endif %}
    
    {% if app.user.getRoles()[0] == "ROLE_FREELANCER" and gig.state == "open" and not applied %}
        <a href="{{ path('app_gigs_apply', {'id': gig.id}) }}">Apply</a>
    {% endif %}

    {% if accepted %}
        <a href="{{ path('app_gigs_markdone', {'id': gig.id}) }}">mark done</a>
    {% endif %}

    </div>
{% endblock %}
