{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        
    <h1>Dashboard</h1>
    <h2>Users</h2>
    <table border=1>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        {% for user in listUsers %}
            <tr>
                <td>{{ user.getFullName() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{{ user.getRoles()[0] }}</td>
                <td>
                    <a onClick="return confirm('Are you sure you want to delete this user? this will delete all his gigs as well')" href=" {{ url ( 'app_admin_delete', {id: user.getEmail()}) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    
{% endblock %}
