<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GigHub{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block style %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="sticky-wrapper" class="sticky-wrapper" >
        <header class="site-navbar js-sticky-header site-navbar-target" role="banner" >
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="site-logo">
                        <a href="{{ path('home') }}" class="text-black"><span class="text-primary">GigHub</span></a>
                    </div>
                    <div class="col-12">
                        <nav class="site-navigation text-right ml-auto" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                                {% if app.user == null %}
                                    <li><a class="nav-link" href="{{ path('home') }}">Home</a></li>
                                    <li><a class="nav-link" href="{{ path('app_register') }}">Register</a></li>
                                    <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                                {% endif %}
                                {% if app.user != null %}
                                    <span> Welcome {{ app.user.getFullName() }} ({{(app.user.getRoles()[0] | strip | lower) }}) </span>
                                    {% if app.user.getRoles()[0] == "ROLE_ADMIN" %}
                                        <li><a href="{{ path('app_admin') }}">DashBoard</a></li>
                                    {% endif %}
                                   <li> <a class="nav-link" href="{{ path('app_gigs') }}">My Gigs</a> </li>
                                   <li> <a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        </div>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="footer">
            <p>&copy;COPYRIGHT 2023 GigHub</p>
        </footer>
    </body>
</html>
